# Add application configuration variables here, as shown below.
# Be sure to restart your server when you modify this file.

# Make sure your secrets are at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.
HACKWEEK_SECRET_KEY_BASE: '12345'
HACKWEEK_DEVISE_SECRET_KEY: '12345'

# Errbit (https://github.com/errbit/errbit) configuration
# HACKWEEK_ERRBIT_API_KEY: '12345' 
# HACKWEEK_ERRBIT_HOST: errbit.example.com
# HACKWEEK_ERRBIT_PROJECT_ID: '56kskscb02dc71fa0932000007'

SITE_TITLE:  'SUSE Hack Week'
SITE_NAME:   'Hack Week'
SITE_ORG:    'SUSE'
SITE_DESC:   '${ENV["SITE_NAME"} is the week where #{ENV["SITE_ORG"]} engineers can experiment without limits. This is the opportunity to innovate, collaborate across teams and learn.'
SITE_EMAIL:  'hackweek@suse.de'